.users{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.user{
  border: 10px solid #577BF2;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.user img{
  width: 200px;
  margin-left: 70px;
}
.user h1, h3, h4 {
  color: #577BF2;
}
.title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #577BF2;
}